## https://www.kaggle.com/c/tweet-sentiment-extraction

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
! ls

README.md             sample_submission.csv train.csv
data_cleaning.ipynb   test.csv

In [26]:
df_train = pd.read_csv('train.csv')

# Validation dataset
df_val = pd.read_csv('test.csv')

In [27]:
df_train.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [28]:
df_val.head()

       textID                                               text sentiment
0  f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1  96d74cb729   Shanghai is also really exciting (precisely -...  positive
2  eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3  01082688c6                                        happy bday!  positive
4  33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive

In [29]:
# Checking for any duplicate texts
len(df_train['text'].unique()), len(df_val['text'].unique())

(27481, 3534)

In [30]:
df_train.shape, df_val.shape

((27481, 4), (3534, 3))

In [31]:
df_train['sentiment'].value_counts()

neutral     11118
positive     8582
negative     7781
Name: sentiment, dtype: int64

In [32]:
# Checking for null values
df_train.isnull().sum()

textID           0
text             1
selected_text    1
sentiment        0
dtype: int64

In [33]:
df_val.isnull().sum()

textID       0
text         0
sentiment    0
dtype: int64

In [34]:
# Dropping null values
df_train.dropna(inplace = True)
df_train.isna().sum()

textID           0
text             0
selected_text    0
sentiment        0
dtype: int64

In [35]:
# Lower the case of text and selected_text data
df_train['text'] = df_train['text'].apply(lambda x: x.lower())
df_train['selected_text'] = df_train['selected_text'].apply(lambda x: x.lower())
df_val['text'] = df_val['text'].apply(lambda x: x.lower())

In [59]:
# Remove any whitespace from the begining and the end
df_train['text'] = df_train['text'].apply(lambda x: x.strip())
df_val['text'] = df_val['text'].apply(lambda x: x.strip())

In [64]:
# Remove all other characters that are not string
import re

pattern = '[a-z\s]*'

df_train['text'] = df_train['text'].apply(lambda x: ''.join(re.findall(pattern, x)))
df_val['text'] = df_val['text'].apply(lambda x: ''.join(re.findall(pattern,x)))

In [66]:
df_train['text'][:5]

0                    id have responded if i were going
1           sooo sad i will miss you here in san diego
2                               my boss is bullying me
3                        what interview leave me alone
4    sons of  why couldnt they put them on the rele...
Name: text, dtype: object

In [72]:
# Converting it from string to list of words
df_train['text'] = df_train['text'].apply(lambda x: x.split())
df_val['text'] = df_val['text'].apply(lambda x: x.split())

## Next steps are Stopwords Removal, Lemmatization and creating document term matrix which will be done upon completion of the relevant module, i.e., NLP